@using System.Data;
@using System.Data.SqlClient;
@using System.Text.Encodings.Web;

@model ConestogaCarpoolApplication.Models.Post

@{
    ViewData["Title"] = "Details";
}

<html>

<head>
    <script type="text/javascript">
    function myFunction1()
    {
        var x = @Html.DisplayFor(model => model.StatusId);

        if (x == 1)
        {
            document.getElementById("confirmButton").style.visibility = 'visible';
        }
        else
        {
            document.getElementById("confirmButton").style.visibility = "hidden";
        }
    }

    function myFunction2()
    {
        alert("your request has been sent successfully.");

        var x = @Html.DisplayFor(model => model.PostId);

        window.location.href = "/Home/temp/" + x;
    }
    </script>
</head>

<body onload="javascript:myFunction1()">
    <h2>Details</h2>
    <div>
        <h4>Post</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Destination)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Destination)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Driver)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Driver.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status.PostStatusId)
            </dd>
        </dl>
    </div>
    <div>
        <button id="confirmButton" onclick="myFunction2()">Confirm</button>
        <br /><br />
        <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>

</html>